/*Gruppe 1*/
/*Header*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 2px solid #ccc;
  font-family: Arial;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}
.logo span {
  margin-left: 8px; /* Abstand zwischen Emoji und Text */
}
a{
  color: black;
  text-decoration: none;
  margin-left: 40px;
}
h2 {
  font-size: 1.5rem;
}

/*Body*/
.container-input {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 90%;
}
.container-output {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 90%;
}
body {
  font-family: Arial;
}
.content {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding:2rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form input[type="text"],
form input[type="date"],
form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
  min-height: 100px;
}
form button {
  padding: 1rem;
  background-color: #151515;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition:background-color 0.3s ease;
}
form button:hover {
  background-color: #333;
}
#events {
  list-style-type: none;
  padding-left: 0;
}
#sort {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 1rem;
}
#searchEvent {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 1rem;
  margin-left: 0.5rem; 
}