body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 2rem;
  display: grid;
  place-items: center;

  
}

.form-container {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

form input[type="text"],
form input[type="date"],
form textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  width: 100%;
  padding: 1rem;
  background-color: #151515;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

    header {
      display: flex;
      justify-content: space-between; /* Links & rechts aufteilen */
      align-items: center;            /* Vertikal zentrieren */
      padding: 10px 20px;
      background-color: white;
      border-bottom: 2px solid #ccc;
      font-family: Arial;
    }

    .logo {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
    }

    .logo span {
      margin-left: 8px; /* Abstand zwischen Emoji und Text */
    }

    a{
        color: black;
        text-decoration: none;
        margin-left: 10px;
    }
